<div class="row gutter-1 rules-statistics{% if is_main %} main-statistics{% endif %}">
    {% for key, item in items %}
        <div class="rules-statistic {{ prepare_columns(loop, columns, 2) }}">
            <div class="statistic-item statistic-{{ key|esc_attr }}">
                <div class="statistic-container d-flex justify-content-between">

                    <div class="statistic-title my-auto">
                        {{ item.title|raw }}
                    </div>

                    <div class="statistic-count"
                         data-key="{{ key|esc_attr }}"
                         data-value="{{ item.value|raw }}">

                        {{ item.value|number|raw }}
                    </div>

                </div>
                {% if show_desc %}

                    <div class="statistic-desc mt-2">
                        {{ item.description|raw }}
                    </div>

                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
